body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 192, 141);
}

.body1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container2{
    display: flex;
    justify-content: center;
    border: 5px solid rgb(75, 41, 4);
    padding: 0;
    margin-right: 50px;
    width: 960px;
    height: 1000px;
}

.box{
    background-color: #cc7716a9;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
}

.btn{
    margin-bottom: 75px;
    margin-top: 25px;
    margin-right: 25px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid rgb(75, 41, 4);
    color: rgb(75, 41, 4);
    background-color: #cc7716a9;
    padding: 15px;
}

h1{
    font-size: 40px;
    margin-left: 150px;
    margin-bottom: -100px;
    color: rgb(75, 41, 4);
}

.column{
    display: flex;
    flex-direction: column;
    flex: 1;
}
